.customer-modal{
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 10px; /* Location of the box */
    left: 3%;
    top: 15%;
    width: 25%; /* Full width */
    height: 60%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(210,210,210); /* Fallback color */
    border: 3px solid dimgrey;
}

.customer-modal .search-bar{
    margin-left: 15%;
}

.customer-list {
    display: grid;
}

.customer-card {
    width: 90%;
    height: 100px;
    border: 2px solid green;
}

.customer-card .left-column{
    float: left;
    width: 40%;
}
.customer-card .right-column{
    float: left;
    width: 60%;
}